
*{
    margin: 0;
    padding: 0;
}


#reg{
    padding: 35px;
    border-radius: 20px;

}


#call{
    margin-top: 15px;
}

#inform{
    margin-bottom: 19px;
}

#hr{
    color: gold;
    height: 5px;
    width: 100%;

}


.inp{
    width: 98%;
    margin-top: 5px;
    padding: 6px;
    background-color: rgb(67, 57, 57);
    color: white;
    font-size: 22px;
}
.lab{
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 15px;
    float: left;
    
}
.inpu{
    width: 47%;
}
.btn{
    background-color: orange;
    color: black;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 20px;
    width: 95%;
}
#call{
    color: aqua;
}
.btn:hover{
    color: white;
}
